version: "3.9"
services:
  kratos-migrate:
    build:
      context: .
      dockerfile: kratos.Dockerfile
    image: goldfinch-kratos:latest
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes: 
      - kratos:/var/lib/sqlite
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    networks:
      - kratos

  kratos-selfservice-ui-node:
    image: oryd/kratos-selfservice-ui-node:v0.7.4-alpha.1
    ports:
      - "4455:4455"
    environment:
      - KRATOS_PUBLIC_URL=http://kratos:4433/
      - KRATOS_ADMIN_URL=http://kratos:4434/
      - PORT=4455
      - SECURITY_MODE=
      - KRATOS_BROWSER_URL=http://127.0.0.1:4433/
    networks:
      - kratos

  kratos:
    depends_on:
        - kratos-migrate
    image: goldfinch-kratos:latest
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true
      - LOG_LEVEL=trace
    volumes: 
      - kratos:/var/lib/sqlite
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    ports:
      - "4433:4433" #public
      - "4434:4434" #admin
    networks: 
      - kratos

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - '4436:4436'
      - '4437:4437'
    networks:
      - kratos

volumes:
  kratos:

networks:
  kratos: